[Desktop Entry]
Name=Meowtop
Comment=This session logs you into the Meowtop DE
Exec=env GNOME_SHELL_SESSION_MODE=ubuntu /usr/bin/gnome-session --session=ubuntu
TryExec=/usr/bin/gnome-shell
Type=Application
DesktopNames=Meowtop
X-GDM-SessionRegisters=true
X-Ubuntu-Gettext-Domain=Meowtop-DE
